* {
	box-sizing: border-box;
	font-family: "Metamorphous", Arial, serif; 
	font-weight: 400; 
	color: white;
}

body {
	background-color: black;
}

.page {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	transition: left 1s;
}

.page.hidden {
	left: -2000;
}

.start {
	text-align: center;
}

.start .title {
	font-size: 96px;
	font-variant: small-caps;

	width: 100%;
	padding: 70px 0 70px 0;
}

.start .instructions {
	font-size: 42px;
	width: 100%;
	color: #91a35F;
}

.start .character-gallery {
	background-color: #131913;
	padding: 30px;
	width: 720px;
	margin: 27px auto;
	border-radius: 20px;
	//border: 10px double #91a35F;
	border: 10px double #999;
}

.start .character-gallery .character {
	padding: 10px 30px;
	font-size: 32px;
	color: yellow;
	display: inline-block
}

.start .character-gallery .character:hover {
	background-color: #5B663B;
	border-radius: 12px;
}

.start .character-gallery .character img {
	width: 150px;
	height: 150px;
	padding-bottom: 15px;
}

.character-sprite {
	background-image: url(images/dwmonsprites.png);
	background-repeat: no-repeat;
	width: 150px;
	height: 135px;
}

.warrior {
	background-position: -25px 0;
	background-size: 2250px;
}

.elf {
	background-position: -207px 0;
	background-size: 2250px;
}

.mage {
	background-position: -387px 0;
	background-size: 2250px;
}

.game {
	height: 100%;
}

.game .column{
	//display:inline-block;
	position: absolute;
	height: 100%;
	border: 1px solid white;
	margin: 2px;
	padding: 10px;
}

.game .column.side {
	width: 22%;
	background-color: #000;
}

.game .column.left {
	top: 0;
	left: 0;
}

.game .column.right {
	top: 0;
	right: 0px;
}

.game .column.center{
	width: 55.1%;
	top: 0;
	left: 22.3%;
	background-color: #000;
	padding: 20px;
}

.character-portrait{
	display: inline-block;
	background-color: #131913;
	padding-top: 1px;
	height: 100px;
	width: 100px;
	margin: 5px;
	border-radius: 5px;
	border: 5px solid #999;
}

.character-picture{
	background-image: url(images/dwmonsprites.png);
	background-repeat: no-repeat;
	width: 90px;
	height: 90px;
}

.warrior2 {
	background-position: -25px 1px;
	background-size: 1600px;
}

.elf2 {
	background-position: -154px 1px;
	background-size: 1600px;
}

.mage2 {
	background-position: -285px 1px;
	background-size: 1600px;
}

.side .stats {
	display: inline-block;
	vertical-align: top;
	margin-top: 5px;
	margin-left: 10px;
	width: 52%;
}

.stats .stat-row {
	margin-bottom: 2px;
	display: table-row;
	width: 100%;
}

.stats .stat-row div {
	display: inline-block;
	text-align: right;
	width: 70px;
}

.stats .stat-row .stat {
	margin-right: 10px;
	width: 40px;
}

.bars {
	padding-top: 1px;
	padding-bottom: 1px;
}

.bar-well {
	width: 90%;
	margin: 10px auto;
	padding: 3px;
	border: 1px solid #666;
	background-color: #999;
	border-radius: 12px;
	height: 30px;
}

.bar-well .bar {
	border-radius: 10px;
	height: 22px;
}

.health-bar {
	border: 1px solid darkRed;
	background-color: red;
}

.mana-bar {
	border: 1px solid darkBlue;
	background-color: blue;
}

#hp, #mp {
	text-align: center;
}

.worn {
	padding: 10px 0;
}

.worn .items {
	margin: 5px auto;
	width: 227px;
}

.worn .items div {
	vertical-align: top;
	display: inline-block;
	width: 72px;
	height: 72px;
	padding: 10px 10px;
	border: 1px solid #666;
	border-radius: 8px;
}

.worn img {
	border-radius: 8px;
}


.map {
	width: 90%;
	height: 90%;
	margin: auto auto;
	overflow: hidden;
}

.map .row {
	position: absolute;
	top: 71px;
}

.map .row .node {
	position: relative;
	display: inline-block;
	min-height: 50px;
	min-width: 50px;
}

.map .row .node .layer0 {
	position: absolute;
	top: 30px;
	left: 0px;
}

.map .row .node .layer1 {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}